<?xml version="1.0" encoding="UTF-8"?>
<!--
The default encoding method is uncompressed array.
GQ-Fast currently also support the following encoding methods:
- BCA: bit-aligned comprssed array
- BB: byte-aligned compressed bitmap
- HU: huffman encoding
-->
<configuration>
	<table_name>DT</table_name>
	<index_column_id>0</index_column_id>
	<encodings>
		<column_id_encoding_type>1,BCA</column_id_encoding_type>
		<column_id_encoding_type>2,BB</column_id_encoding_type>
	</encodings>
</configuration>
