<?xml version="1.0" encoding="UTF-8"?>
<!--
The default encoding method is uncompressed array.
GQ-Fast currently also support the following encoding methods:
- BCA: bit-aligned comprssed array
- BB: byte-aligned compressed bitmap
- HU: huffman encoding

-->
<configuration>
	<index_column_id>1</index_column_id>
	<encodings>
		<column_id_encoding_type>2,BCA</column_id_encoding_type> <!-- Use the abbreviation name of encoding method that defined above, e.g., BCA, BB -->
		<column_id_encoding_type>0,BB</column_id_encoding_type>
	</encodings>
</configuration>
